@charset "utf-8";

body {
	margin-top: 1.0em;
	background-color: #fff;
	font-family: Helvetica, Arial, FreeSans, sans-serif;
	color: #222;
}

#container {
	margin: 0 auto;
	width: 50em;
}

#fork-ribbon img {
	position: absolute;
	top: 0;
	right: 0;
	border: 0;
}

h1 {
	font-size: 3.8em;
	color: #ae2126;
	margin-bottom: 3px;
}

h1 .small {
	font-size: 0.4em;
}

h1 a {
	text-decoration: none;
}

h2 {
	font-size: 1.5em; color: #ae2126;
}

h3 {
	text-align: center; color: #ae2126;
}

a {
	color: #ae2126;
}

.description {
	font-size: 1.2em;
	margin-bottom: 30px;
	margin-top: 30px;
	font-style: italic;
}

.download {
	float: right;
}

pre {
	padding: 15px;
}

hr {
	border: 0;
	width: 80%;
	border-bottom: 1px solid #aaa;
}

.footer {
	text-align:center;
	padding-top:30px;
	font-style: italic;
}

#draggable {
	width: 150px;
	height: 150px;
	border: 2px #333 solid;
	position: fixed;
	top: 20px;
	left: 20px;
	background: rgba(255,255,255,0.4);
}

#drag-handle {
	width: 50px;
	height: 50px;
	margin: 50px auto;
	background: #a00;
	cursor: move;
}










